body{
    position: relative;
}
.login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    /* background-image: url("toa.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
form{
    /* margin-top:200px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.frm{
    width: 350px;
    height: 400px;
    margin:250px auto;
    border-radius:10px;
    overflow: hidden;
    background-color:transparent;
    border:3px solid #66CDAA;
}
.frm .top{
    width: 100%;
    height:25%;
    float:left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#66CDAA;
}
.frm .top span{
    /* margin-top:40px; */
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    color:navy;
}
.frm .mid{
    width: 100%;
    height:50%;
    float:left;
    padding:10px;
}
.frm .mid label{
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    color:navy;
}
.frm .mid input{
    margin-bottom:20px;
    border:3px solid #66CDAA;
}
.frm .bottom{
    width: 100%;
    height:25%;
    float:left;
    position: relative;
}
.frm .bottom button{
    background-color:#66CDAA;
    margin-left:35px;
    cursor: pointer;
    height: 40%;
    width: 80%;
    float:left;
    font-family: 'Times New Roman', Times, serif;
    font-size:22px;
    line-height: 10px;
    color:navy;
}
.frm .bottom button:hover{
    background-color:#eee;
    color:#66CDAA ;
    border:3px solid #66CDAA;
}
.frm .bottom  span{
    height: 50%;
    width: 100%;
    float:left;
    cursor: pointer;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:navy;
}
.frm .bottom span:hover{
    color:red ;
}